@media screen and (max-width: 1480px)
  .bonus
    &__bg
      width: 110%
      height: 100%
      top: 0
      left: -28%

@media screen and (max-width: 1350px)
  .bonus
    &__text
      padding: 0 45px 0 0

@media screen and (max-width: 1270px)
  .bonus
    &__name
      font-size: 13px
      line-height: 17px
      span
        font-size: 11px
        line-height: 14px
    &__bg
      width: 110%
      height: 100%
      top: 0
      left: -28%
    &__text
      &-promotion
        padding: 5px 13px 2px
        font-size: 18px
        line-height: 23px
        margin: 0 0 14px 0
      &-welcom
        font-size: 28px
        line-height: 30px
        margin: 0 0 10px 0
      &-bonus
        font-size: 86px
        line-height: 76px
        margin: 0 0 13px 0
      &-spin
        padding: 5px 17px 3px
        font-size: 33px
        line-height: 43px
        &::before
          width: 33px
          height: 28px
          top: -13px
          left: -15px
  .info
    margin-bottom: 130px
    &__item
      padding: 40px
      &-title
        font-size: 35px
        line-height: 40px
        margin: 0 0 10px 0
  .new
    padding: 65px 0
    &__image
      max-width: 680px
      position: absolute
      bottom: -74px
      right: -110px
    &__info
      &-title
        font-size: 35px
        line-height: 40px
        margin: 0 0 20px 0

@media screen and (max-width: 1040px)
  .bonus
    &__bg
      left: -37%
      width: 132%


@media screen and (max-width: 975px)
  .info
    margin-top: -25px
    margin-bottom: 90px
  .bonus
    padding: 45px 0 75px 0
    &__bg
      left: -37%
      width: 132%
  .new
    padding: 45px 0 90px 0
    &__info
      &-text
        max-width: 340px
    &__image
      max-width: 530px
      bottom: -94px
      right: -100px



@media screen and (max-width: 765px)
  .bonus
    &__text
      padding: 0
    &__bg
      left: -39%
      width: 140%
  .info
    &__container
      padding: 0 15px
    &__list
      display: grid
      grid-template-columns: calc(50% - 10px) calc(50% - 10px)
      gap: 20px
    &__item
      padding: 40px

@media screen and (max-width: 745px)
  .bonus
    &__text
      transform-origin: right center
      transform: scale(0.9)
  .info
    margin-bottom: 23px
    &__list
      grid-template-columns: 100%
  .new
    &__container
      padding: 0 15px

@media screen and (max-width: 700px)
  .info
    margin-bottom: 20px
  .new
    background: $blue
    padding: 0
    margin-bottom: 40px
    &__container
      padding: 0
    &__row
      flex-direction: column-reverse
      align-items: stretch
    &__image
      padding-top: 50px
      background: url("../img/new-bg-mob.jpg") no-repeat 50% 0/cover
      position: static
      margin: 0 0 30px 0
      min-width: 100%
      display: flex
      justify-content: center
      img
        position: relative
        bottom: -4px
    &__info
      padding: 0 15px
      min-width: 100%
      &-title
        font-size: 24px
        line-height: 34px
        text-align: center
        margin: 0 0 20px 0
      &-text
        max-width: 100%
        margin: 0 0 30px 0
      &-link
        width: 100%
        text-align: center

@media screen and (max-width: 670px)
  .bonus
    &__text
      transform-origin: right center
      transform: scale(0.8)

@media screen and (max-width: 600px)
  .info
    margin: 30px 0 20px 0
    &__list
      gap: 15px
    &__item
      padding: 30px
      &-title
        font-size: 35px
        line-height: 40px
  .bonus
    &::before
      content: ''
      position: absolute
      width: 100%
      height: 50px
      z-index: 1
      bottom: 0
      left: 0
      background: linear-gradient(180deg, rgba(0, 0, 85, 0) 0%, #000055 100%)

    padding: 0
    &__name
      bottom: auto
      top: 26%
      left: auto
      right: 50%
      transform: translateX(110%)
    &__container
      justify-content: stretch
      padding: 0
    &__text
      width: 100%
      transform: scale(1)
      align-items: stretch
      &-welcom
        order: 1
        font-size: 33px
        line-height: 43px
        padding: 5px 15px 3px
        background: $magenta
        color: $blue
        text-align: center
        margin: 0 0 20px 0
      &-promotion
        order: 2
        align-self: flex-end
        margin: 0 20px 290px 0
        font-size: 20px
        line-height: 26px
        padding: 5px 13px 3px
      &-bonus
        order: 3
        align-self: center
        font-size: 100px
        line-height: 84px
        margin: 0 0 10px 0
      &-spin
        order: 4
        align-self: center
        font-size: 40px
        line-height: 52px
        &::before
          width: 44px
          height: 38px
          top: -21px
          left: -19px
    &__bg
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: url('../img/yarmolenko-mob.jpg') no-repeat 50% 0%/cover
  .rules
    padding: 0 0 50px 0
    &__summary
      font-size: 18px
      line-height: 25px
      padding: 11px 65px 9px 20px
      &::before
        right: 25px
    &__text
      margin-top: 7px
      padding: 30px 20px
    &__item
      &-title
        font-size: 14px
        line-height: 28px
      &-list
        li
          font-size: 14px
          line-height: 28px


@media screen and (max-width: 370px)
  .bonus
    &__text
      &-welcom
        font-size: 27px
        line-height: 36px
      &-bonus
        font-size: 80px
        line-height: 84px
      &-spin
        font-size: 32px
        line-height: 45px
      &-promotion
        margin: 0 15px 290px 0
        font-size: 18px
        line-height: 23px

  .info
    &__item
      &-title
        font-size: 30px
        line-height: 35px
