.wrapper
    header.header
        .header__container
            .header__row
                .menu__icon
                    span
                a(href='https://www.favbet.ro/ro/').header__logo
                    picture
                        source(media="(min-width: 601px)" srcset="img/header/logo.svg")
                        source(media="(min-width: 280px)" srcset="img/header/logo-mob.svg")
                        img(src='img/header/logo.svg' alt='logo')
                nav.header__nav
                    ul.header__list
                        li.header__item
                            a(href='https://www.favbet.ro/ro/sports/sport/soccer/').header__link Sport
                        li.header__item
                            a(href='https://www.favbet.ro/ro/in-play/all/').header__link LIVE
                        li.header__item
                            a(href='https://www.favbet.ro/ro/casino/').header__link Casino
                        li.header__item
                            a(href='https://www.favbet.ro/ro/casino-live/').header__link Live Casino
                        li.header__item
                            a(href='https://www.favbet.ro/ro/aviator/').header__link Aviator
                        li.header__item
                            a(href='https://www.favbet.ro/ro/promos/').header__link PROMOȚII
                        li.header__item
                            a(href='https://www.favbet.ro/ro/goldenrace/').header__link SPORTURI VIRTUALE
                        li.header__item
                            a(href='https://www.favbet.ro/ro/lottery/').header__link LOTO
                .header__buttons
                    a(href='https://www.favbet.ro/ro/register/?from=header-desktop').header__button.btn-white AUTENTIFICARE
                    a(href='https://www.favbet.ro/ro/register/?from=header-desktop').header__button.btn-green ÎNREGISTRARE
    main.main
        section.bonus
            .bonus__container
                .bonus__row
                    .bonus__image
                        picture
                            source(media="(min-width: 1025px)" srcset="img/football-desc.png")
                            source(media="(min-width: 640px)" srcset="img/football-tab.png")
                            source(media="(min-width: 280px)" srcset="img/football-mob.png")
                            img(src="img/football-desc.png" alt="Favbet")
                        .bonus__image-ball
                    .bonus__info
                        .bonus__info-title
                            .bonus__info-title-top #[span 100%] BONUS
                            .bonus__info-title-bottom LA PRIMA #[br] DEPUNERE
                        a(href='https://www.favbet.ro/ro/register/?from=header-desktop').bonus__info-link ÎNREGISTRARE
            .bonus__marquee
                ul.bonus__marquee-list
                    li.bonus__marquee-item PARIU FĂRĂ RISC
                    li.bonus__marquee-item
                        img(src='img/plus.svg' alt='plus')
                    li.bonus__marquee-item 100 ROTIRI GRATUITE
                img(src='img/fav-grey.svg' alt='favbet')
                ul.bonus__marquee-list
                    li.bonus__marquee-item PARIU FĂRĂ RISC
                    li.bonus__marquee-item
                        img(src='img/plus.svg' alt='plus')
                    li.bonus__marquee-item 100 ROTIRI GRATUITE


                img(src='img/fav-grey.svg' alt='favbet')
                ul.bonus__marquee-list
                    li.bonus__marquee-item PARIU FĂRĂ RISC
                    li.bonus__marquee-item
                        img(src='img/plus.svg' alt='plus')
                    li.bonus__marquee-item 100 ROTIRI GRATUITE

        section.choise
            .choise__container
                ul.choise__row
                    li.choise__item
                        h2.choise__item-title SPORT
                        p.choise__item-text Cea mai bogată ofertă de pariere și cele mai multe evenimente
                        a(href='https://www.favbet.ro/ro/sports/sport/soccer/').choise__item-link PARIAZĂ ACUM!
                    li.choise__item
                        h2.choise__item-title BONUS LA PRIMA DEPUNERE
                        p.choise__item-text 100% PÂNĂ LA 1000 LEI LA SPORT & CASINO
                        a(href='https://www.favbet.ro/ro/sports/sport/soccer/').choise__item-link PARIAZĂ ACUM!
        section.sport
            .sport__container
                ul.sport__row
                    li.sport__item.sport__item-min
                        a(href='https://www.favbet.ro/ro/sports/sport/soccer/')
                        span Fotbal
                        img(src='img/sport/sport-img-1.jpg' alt='image')
                    li.sport__item.sport__item-min
                        a(href='https://www.favbet.ro/ro/cybersport/')
                        span E-Sports
                        img(src='img/sport/sport-img-2.jpg' alt='image')
                    li.sport__item.sport__item-min
                        a(href='https://www.favbet.ro/ro/cybersport/')
                        span PORTSBASCHET
                        img(src='img/sport/sport-img-3.jpg' alt='image')
                    li.sport__item.sport__item-min
                        a(href='https://www.favbet.ro/ro/sports/sport/tennis/')
                        span TENIS
                        img(src='img/sport/sport-img-4.jpg' alt='image')
                    li.sport__item.sport__item-min
                        a(href='https://www.favbet.ro/ro/sports/sport/volleyball/')
                        span VOLEI
                        img(src='img/sport/sport-img-5.jpg' alt='image')
                    li.sport__item.sport__item-min
                        a(href='https://www.favbet.ro/ro/sports/sport/ice-hockey2/')
                        span HOCHEI
                        img(src='img/sport/sport-img-6.jpg' alt='image')
                    li.sport__item.sport__item-big
                        h2.sport__item-big-title Sport
                        p.sport__item-big-text Fiecare etapă de România 1 îți aduce un BONUS! Pariază minim50 de lei și câștigă un PARIU FĂRĂ RISC!
                        a(href='https://www.favbet.ro/ro/sports/sport/soccer/').sport__link PARIAZĂ ACUM!
                a(href='https://www.favbet.ro/ro/sports/sport/soccer/').sport__link-mob PARIAZĂ ACUM!
    footer.footer
        .footer__container
            .footer__btn-scroll
            ul.footer__list
                li.footer__item
                    .footer__item-title Despre noi
                    ul.footer__links-list
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/about-us/') Despre noi
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/license/') Licență
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/privacy-policy/') Politica de confidentialitate
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/responsible-gaming/') Pariere Responsabilă
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/spune-stop-dependentei/') Spune stop dependentei
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/aml_kyc/') AML & KYC
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/mobile-app/') Aplicația mobilă Favbet
                li.footer__item
                    .footer__item-title SECȚIUNI
                    ul.footer__links-list
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/sports/sport/soccer/') SPORT
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/in-play/all/') Live
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/casino/') Casino
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/promos/') Promoții
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/lottery/') Loto
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/goldenrace/') Sporturi Virtuale
                li.footer__item
                    .footer__item-title AJUTOR
                    ul.footer__links-list
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/intrebari-frecvente/') FAQ
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/payments/') Retrageri
                        li.footer__links-item
                            a(href='https://www.favbet.ro/static/media/Download/Players%20encyclopedia/Enciclopedia_Jucatorului.pdf') Enciclopedia jucătorului
                li.footer__item
                    .footer__item-title REGULAMENT
                    ul.footer__links-list
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/rules-regulament/') Regulament
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/terms-and-conditions/') Termeni si Condiții
                        li.footer__links-item
                            a(href='https://www.favbet.ro/ro/rules/') Reguli Casino
                li.footer__item
                    .footer__item-title Metode de plată
                    ul.footer__pay-list.footer__links-list
                        li.footer__pay-item
                            a(href='https://www.favbet.ro/ro/deposit-skrill/').footer__pay-link
                                img(src='img/footer/skrill.svg' alt='icon')
                        li.footer__pay-item
                            a(href='https://www.favbet.ro/ro/deposit-neteller/').footer__pay-link
                                img(src='img/footer/netl.svg' alt='icon')
                        li.footer__pay-item
                            a(href='https://www.favbet.ro/ro/deposit-safecharge/').footer__pay-link
                                img(src='img/footer/mastercard.svg' alt='icon')
                        li.footer__pay-item
                            a(href='https://www.favbet.ro/ro/deposit-safecharge/').footer__pay-link
                                img(src='img/footer/visa.svg' alt='icon')
        .footer__info
                ul.footer__info-list
                    li.footer__info-item
                        a(href='http://federbet.com').footer__info-link
                            img(src='img/footer/fb.png' alt='federbet')
                    li.footer__info-item
                        a(href='ttp://onjn.gov.ro/approved/').footer__info-link
                            img(src='img/footer/onjn.png' alt='onjn')
                    li.footer__info-item
                        img(src='img/footer/18plus.svg' alt='18plus')
                    li.footer__info-item
                        img(src='img/footer/mastercard-secure.svg' alt='mastercard-secure')
                    li.footer__info-item
                        img(src='img/footer/verifed.svg' alt='verifed')
                    li.footer__info-item
                        img(src='img/footer/pci.svg' alt='pci')
                    li.footer__info-item
                        p.footer__info-text ©Favbet - Toate drepturile rezervate! Favbet functioneaza in baza licentei L1200662W001197 obtinuta in urma deciziei nr. 811 din data de 29.04.2020 emisa de catre Oficiul National pentru Jocuri de Noroc.

        .footer__container
            .footer__copyright
                p Produsele Favbet.ro sunt detinute si operate de Favbet Online, companie cu sediul in Bucuresti pe Calea Grivitei, nr 136, inregistrata sub numarul J40/14188/18.11.2015, cu capital social 1.000.100 RON si numarul de inregistrare fiscala 35246629. 
                p © 2022 Favbet. Toate drepturile rezervate.

























