.wrapper
    section.bonus
        .bonus__bg
        .bonus__container
            .bonus__name Андрій Ярмоленко #[br] #[span бренд-амбасадор]
            .bonus__text
                .bonus__text-promotion АКЦІЯ
                .bonus__text-welcom Вітальний БОНУС
                .bonus__text-bonus 4500₴
                .bonus__text-spin 100 ФРІСПІНІВ
    section.info
        .info__container
            ul.info__list
                li.info__item
                    .info__item-title ДО 4 500₴
                    .info__item-text 100% до депозиту на ставки на спорт та гру в Казино
                    a(href='#').info__item-link ЗА БОНУСОМ
                li.info__item
                    .info__item-title 100 ФРІСПІНІВ
                    .info__item-text 100 фріспінів у грі ________ без вейджера*
                    a(href='#').info__item-link ЗА БОНУСОМ
    section.new
        .new__container
            .new__row
                .new__info
                    .new__info-title Новий бонус для нових гравців
                    .new__info-text Новенький? Будь всередині гри з FAVBET та оновленим бонусом. Бери участь в акції “Вітальний бонус”, роби депозит від 150 гривень та отримай 100% до депозиту (до 4500 UAH), 100 фріспінів.
                    a(href='#').new__info-link ПОЧНИ ГРУ
                .new__image
                    picture
                        source(media="(min-width: 1025px)" srcset="img/mobile-desc.png")
                        source(media="(min-width: 640px)" srcset="img/mobile-desc.png")
                        source(media="(min-width: 280px)" srcset="img/mobile-mob.png")
                        img(src="img/mobile-desc.png" alt="Favbet")
    section.rules
        .rules__container
            details.rules__details
                summary.rules__summary Офіційні правила акції "Вітальний бонус"
                .rules__text
                    ul.rules__list
                        li.rules__item
                            .rules__item-title 1) Організатор Акції
                            ul.rules__item-list
                                li 1.1. Замовником та Організатором Акції є ТОВ «Букмекерська компанія «Фавбет» (далі – «Замовник»), що має діючу ліцензію на провадження діяльності з організації та проведення азартних ігор казино у мережі інтернет Ліцензія (РІШЕННЯ ПРО ВИДАЧУ ЛІЦЕНЗІЇ №137 від 05.04.2021) видана 20.04.2021 року, ЄДРПОУ 43457382, що знаходиться за адресою: Україна, 04076, місто Київ, пр.Бандери Степана, будинок 8, корпус 39, 39а.
                                li 1.2. Організація і проведення Акції регламентовані цими правилами (далі - Правила), офіційний текст яких опубліковано на сайті www.favbet.ua.
                        li.rules__item
                            .rules__item-title 2) Мета проведення Акції – популяризація торгівельної марки Організатора Азартних ігор.
                            ul.rules__item-list
                                li 2.1. Результатом завершення Акції є видача призових Бонусів учасникам Акції.
                                li 2.2. Акція не є азартною грою, лотереєю, послугою у сфері грального бізнесу чи конкурсом, а ці Правила не є публічною обіцянкою винагороди чи умовами конкурсу.
                                li 2.3. Згідно з вимогами ст. 634 ЦК України про договори приєднання, а саме, щодо змоги укладання такого договору шляхом приєднання однієї сторони до запропонованого договору, своєю участю в Акції всі Учасники погоджуються з цими Правилами Акції та зобов’язуються їх виконувати.
                                li 2.4. Ці Правила є попереднім договором, і у випадку відмови від виконання цих Правил Акції, Учасники втрачають право на отримання призового Бонуса.
                                li 2.5. Погоджуючись з Правилами Акції, учасник повинен дотримуватись принципів відповідальної гри, що розміщені на сайті Організатора азартних ігор www.favbet.ua.
                                li 2.6. Метою проведення цієї акції не є надання гравцям будь-яких бонусних виплат, подарунків та/або надання товарів (послуг) у будь-якій формі, використання інших видів заохочення, надання яких прямо чи опосередковано обумовлено настанням факту програшу гравця у відповідній азартній грі.
                        li.rules__item
                            .rules__item-title 3) Тривалість та територія (місце) проведення Акції
                            ul.rules__item-list
                                li 3.1. Акція проводиться по всій території України, крім Автономної Республіки Крим і тимчасово окупованих територій України.
                                li 3.2. Місцем проведення Акції є веб-сайт www.favbet.ua.
                                li 3.3. Акція проводиться в період з 04.02.2022 року по 31.12.2022 року.
                                li 3.4. Терміни проведення Акції можуть бути змінені Організатором, шляхом внесення змін до даних Правил. Учасники не можуть вимагати будь-якої компенсації в разі зміни термінів Акції.
                        li.rules__item
                            .rules__item-title 4) Учасники Акції та вимоги до Учасника Акції
                            ul.rules__item-list
                                li 4.1. Учасником Акції може стати будь-який дієздатний громадянин, який досяг 21-річного віку і постійно проживає на території України, який пройшов ідентифікацію та верифікацію на сайті Організатора азартних ігор, не включений до Реєстру осіб, яким обмежено доступ до гральних закладів та/або участь в азартних іграх, та у якого зареєстрований ігровий рахунок на сайті www.favbet.ua. Для участі у Акції, необхідно поповнити свій ігровий рахунок на суму від 150 гривень та виконати інші вимоги даних Правил (реєструватися потрібно тільки 1 раз). Умови відкриття та використання ігрового рахунку регулюються правилами участі в грі, які опубліковані на сайті
                                li 4.2. Беручи участь в даній Акції, Учасник висловлює свою згоду з даними Правилами, тим самим зобов'язується дотримуватися їх і керуватися ними у взаєминах з Організатором Акції та іншими Учасниками. Повне дотримання всіх положень даних Правил є необхідною умовою для участі в Акції. Учасник Акції, який не дотримується Правил Акції, може втратити статус Учасника і не має права на одержання від Організатора та/або Замовника будь-якої компенсації.
                                li 4.3. Беручи участь у Акції, Учасник Акції не вносить ніякої плати, пов’язаної з участю у Акції. Фонд Заохочень Акції не формується з внесків Учасників Акції. Організатор Акції не отримує винагороду від Учасників Акції за їх участь в Акції.
                                li 4.4. Передача прав Учасника Акції іншим особам не допускається. Будь-яке порушення з боку Учасника Акції даних Правил Акції, є підставою для позбавлення його права участі в Акції.
                                li 4.5. Учасник Акції, який не погоджується з умовами даних Правил Акції та/або відмовився від надання згоди на обробку його персональних даних, втрачає право на подальшу участь в Акції.
                                li 4.6. Надання Учасником недостовірних/некоректних даних, наданих для участі в Акції, в тому числі щодо засобів зв’язку з таким Учасником Акції, є порушенням Правил Акції та позбавляє такого Учасника Акції права на подальшу участь в Акції та звільняє Організатора Акції від будь-яких зобов’язань перед таким Учасником Акції.
                                li 4.7. У випадку порушення Учасником Акції обов’язків, вказаних у даних Правилах Акції, що спричинило настання у Організатора Акції збитків, Учасник Акції зобов’язаний відшкодувати такі збитки у повному обсязі.
                                li 4.8. Учасники Акції діють особисто, від свого імені, добровільно і самостійно. Учасники Акції беруть на себе всі ризики відповідальності і наслідків, пов’язаних з можливою участю в Акції.
                                li 4.9. Адміністрація Організатора має право на перевірку реєстраційних даних і транзакцій учасників гри, які отримали одне право на участь в Акції. Якщо в ході перевірки буде виявлено, що учасник/учасники використовує/-ють заборонені стратегії або шахрайство, в тому числі мультиакаунтинг, Адміністрація Організатора має право відмовити такому учаснику або групі учасників в участі в Акції.
                                li 4.10. Права та обов'язки учасників та Організатора Акції.
                                    ul
                                        li 4.10.1. Учасник Акції має право:
                                            ul
                                                li • взяти участь в Акції відповідно до цих Правил;
                                                li • отримувати інформацію про терміни і умови проведення Акції;
                                                li • відмовитися від участі в Акції.
                                        li 4.10.2. Учасник зобов'язаний:
                                            ul
                                                li • дотримуватися всіх умов цих Правил.
                                                li • дотримуватися вимог даних Правил Акції та норм чинного законодавства України;
                                                li • надавати повні, коректні та достовірні відомості, вказані у даних Правилах Акції;
                                                li • свідомо не завдавати незручностей та не чинити перешкод іншим Учасникам Акції;
                                                li • не чинити дій, що ставлять під сумнів правомірність участі Учасника у Акції
                                        li 4.10.3. Адміністрація Організатора має право:
                                            ul
                                                li • вимагати від Учасника дотримання цих Правил.
                                                li • відмовити будь-якій особі в участі в Акції в разі порушення Правил;
                                                li • розширити або змінити перелік призових Бонусів.
                                        li 4.10.4. Адміністрація Організатора не несе відповідальності:
                                            ul
                                                li • за перенесення термінів і помилки при проведенні Акції;
                                                li • за невиконання (несвоєчасне виконання) Учасниками своїх обов'язків, передбачених цими Правилами;
                                                li • за помилки в роботі та інші технічні неполадки операторів зв'язку (телефонного та Інтернет-), які безпосередньо обслуговують Учасників і Адміністрацію Організатора;
                                                li • за одержання від Учасників неповних і / або некоректних контактних та / або інших відомостей, необхідних з метою проведення Акції;
                                                li • за неотримання від Учасників листів, дзвінків або електронних повідомлень в результаті технічних проблем і / або шахрайства в мережі Інтернет та / або каналів зв'язку, що використовуються при проведенні Акції;
                                                li • за невиконання або неналежне виконання своїх зобов'язань перед Учасниками Акції внаслідок збоїв в телекомунікаційних і енергетичних мережах, дій шкідливих програм, а також недобросовісних дій будь-яких третіх осіб.
                        li.rules__item
                            .rules__item-title 5) Порядок участі в акції:
                            ul.rules__item-list
                                li 5.1. Для участі в Акції учаснику необхідно:
                                    ul
                                        li • Здійснити Депозит поповнивши ігровий рахунок від 150 гривень (одне поповнення активує 3 призових Бонуси : «100% до депозиту», «150 фріспінів», «5 фрібетів»);
                                        li • Якщо перше поповнення грального рахунку з моменту реєстрації менше 150 гривень, тоді Учасник може активувати Бонуси іншим депозитом від 150 гривень протягом 10 днів з моменту реєстрації.
                                        li • ПЕРШИЙ БОНУС: «БОНУС 100% ДО ДЕПОЗИТУ»:
                                        li • Після поповнення ігрового рахунку, необхідно протягом 48 годин активувати бонус в Особистому кабінеті, натиснувши кнопку «Старт»;
                                        li • Для активації бонусу на баланс ігрового рахунку, необхідно здійснити оберти ставок на спорт або казино на суму депозиту протягом 10 днів, шляхом участі в віртуальних іграх** Організатора;
                                        li • Вейджер* бонусу – х25. Якщо не вказано інше, тоді необхідно зробити суму ставок в 25 разів більше від суми бонусу. Бонуси не будуть активовані, до моменту повного виконання умов акції.
                                        li • Враховуються оберти ставок у розділах Спорт, Live та Казино для отримання бонусу.
                                        li • Оберти ставок у розділі Казино для отримання бонусу:
                                            p Ставки для отримання бонусу не враховуються в категоріях «Настільні ігри», «Рулетка» та деякі слоти, а саме: Spinomenal (Champions Pick, Monsters' Scratch, Scratchy Bit, Secret Cupcakes, Signs Of Fortune, Donut Rush, Red Square Games, Super Mask, Irish Lucky Dice, Cupid’s Scratch); Wazdan (Jackpot Builders, Sic Bo Dragons, 9 Lions, Beauty Fruity™, Butterfly Lovers™, Extra Bingo, Football Mania, Football Mania Deluxe, Fruit Mania, Fruit Mania Deluxe, KickOff, Larry the Leprechaun, Magic Stars 9); Gamzix (GO GO Spinner); Mascot Gaming (Casino Hold'em); Red Rake (ACES & DEUCES BONUS POKER, ACES & EIGHTS, ACES & FACES, ALL AMERICAN, BONUS DEUCES WILD, BONUS POKER, DEUCES & JOKERS, DEUCES WILD, DOUBLE ACES AND FACES, DOUBLE BONUS, DOUBLE DOUBLE BONUS, FACES AND DEUCES, FIVE ACES, JACKS OR BETTER, JOKER POKER, NUMBER BONUS, ROYAL COURT, SEQUENTIAL ROYAL, TENS OR BETTER, TRIPLE BONUS POKER); Bgaming (Hi-Lo Switch, Rocket Dice, Scratch Dice, Sic Bo, Sic Bo Macau, Plinko, Heads and Tails); Betsolution (Backgammon, Okey, Bura, Dominoes, Seka, High low, Zeppelin, Dice, Mines, Plinko); Betsoft (Draw Hi-Lo, Max Quest: Wrath of Ra, Pai Gow, Red Dog, Virtual Racebook 3D, Pai Gow, Pirate 21, Pontoon, Red Dog, Three Card Rummy, Top Card Trumps); Champion (BlackJack, European Roulette network, European RouletteS); Spribe (Aviator, Dice, Goal, Hi Lo, Mines, Mini Roulette, Plinko, Keno).
                                        li • Мінімальна сума ставки в іграх для отримання бонусу – 1 гривня;
                                        li • Для відіграшу бонусу в Спорті, ставки повинні відповідати наступним вимогам:
                                        li • Типи ставок - Ординар, Експрес/Система;
                                        li • Мінімальний коефіцієнт – 1,5 або вище для однієї події;
                                        li • У відіграші бонусу беруть участь тільки ставки на різні події. Ставки на одну і ту саму подію, навіть на різні результати, не враховуватимуться у відіграші бонусу;
                                        li • Ставки на дзеркальні результати заборонені у відіграші бонусу. Бонус може бути скасований;
                                        li • У відіграші бонусу враховуються лише розраховані ставки. Ставки з ознакою «Cash Out» не враховуються у відіграші «Welcome offer»;
                                        li • Мінімальна сума ставки для однієї події становить 15 UAH;
                                        li • Максимальна сума ставки для однієї події становить 1000 UAH;
                                        li • Мінімальна кількість ставок – 5;
                                        li • Максимальна допустима сума бонусу – 4500 гривень (якщо сума депозиту більше 4500 гривень, сума бонусу для Учасника все одно буде дорівнювати 4500 гривень).
                                        li • Для отримання бонусу після виконання умов, необхідно натиснути кнопку «Прийняти» в Особистому кабінеті у розділі «Бонуси – Кошти». Строк прийняття бонусу – 5 днів з моменту виконання умов.
                                        li • ДРУГИЙ БОНУС: «100 ФРІСПІНІВ ЗА ДЕПОЗИТ»:
                                        li • Після поповнення рахунку необхідно протягом 5 днів в Особистому кабінеті в розділі «Бонуси – Фріспіни» натиснути кнопку «Прийняти»;
                                        li • 100 фріспінів будуть доступні у грі «Game_name» від провайдера «Pragmatic» без вейджеру;
                                        li • Мінімальна ставка у фріспінах – 0.5 гривень за оберт;
                                        li • Фріспіни – це безкоштовні оберти у грі.
                                        li • • *Вейджер – це коефіцієнт, який вказує мінімальну кількість здійснених ставок (участі в азартній грі), необхідних для використання нарахованого Організатором азартних ігор бонусу.
                                        li • **Віртуальна гра - гра, що є сукупністю віртуальних подій, створених за допомогою грального обладнання або механічно-технічних засобів, результат якої заздалегідь невідомий та на результат якої гравець або організатор азартних ігор не мають змоги вплинути.
                        li.rules__item
                            .rules__item-title 6) Фонд Рекламної Акції
                            ul.rules__item-list
                                li 6.1. Фонд Рекламної Акції формується на розсуд Організатора. Якісні, кількісні та інші, в тому числі технічні характеристики Бонусів визначаються Організатором.
                                li 6.2. Оподаткування осіб, які отримали Бонус, проводиться відповідно до чинного законодавства України.
                                li 6.3. Організатор Акції залишає за собою право збільшити або зменшити загальну кількість Бонусного Фонду Акції.
                                li 6.4. Організатор Акції не несе відповідальності відносно майбутнього використання Бонусу та за неможливість скористатись ним з будь-яких причин.
                                li 6.5. Відповідно до пункту 164.2 статті 164 Податкового кодексу України, у разі отримання платником податків доходів (Учасником Акції) у вигляді виграшу (призу) у лотерею чи в інші розіграші, у букмекерському парі, у парі тоталізатора, призів та виграшів у грошовій формі, одержаних за перемогу та/або участь в аматорських спортивних змаганнях, у тому числі у більярдному спорті, такий дохід включається до загального місячного (річного) оподатковуваного доходу платника податку та оподатковується податковим агентом під час його виплати. На загальну суму таких виграшів (призів) нараховується податок на доходи фізичних осіб за ставкою 18 відсотків та військовий збір – 1,5 відсотки.
                        li.rules__item
                            .rules__item-title 7) Особливі умови
                            ul.rules__item-list
                                li 7.1. Факт участі в Акції означає повну згоду Учасника з цими Правилами.
                                li 7.2. З усіх питань, що стосуються Акції, Учасники можуть звертатися за контактами, вказаними в розділі «Контакти» на сайті www.favbet.ua.
                                li 7.3. В Акції не можуть брати участь особи що не досягли 21 року, особи які не пройшли процедуру ідентифікації та верифікації Організатора, Особи які внесені до Реєстру осіб, яким обмежено доступ до гральних закладів та/або участь в азартних іграх, працівники Організатора та/або особи, які іншим чином мають відношення до організації, підготовки та проведення Акції, а також члени їх сімей.
                                li 7.4. У разі виявлення факту порушення Учасником Акції цих Правил, такий учасник виключається з участі в Акції.
                                li 7.5. Дані правила можуть бути змінені/доповнені Організатором протягом всього Періоду проведення Акції, при цьому інформування відносно змін і доповнень бу-де здійснено шляхом розміщення на сайті. Такі зміни і доповнення вступають в силу з моменту опублікування, якщо інше не буде передбачено змінами/доповненнями діючих Офіційних умов.
                        li.rules__item
                            .rules__item-title 8) Прикінцеві положення
                            ul.rules__item-list
                                li 8.1. Учасники Акції добровільно дають повну згоду на обробку їх персональних даних, а саме: прізвища, імені, по батькові, місця проживання (поштову адресу), паспортні дані, ІПН, номера телефону, електронної адреси, дати народження будь-яким способом, включаючи, але не обмежуючись, згоду на збір, реєстрацію, накопичення, зберігання, адаптування, зміна, поновлення, використання, поширення (в тому числі поширення, реалізацію, передачу і т.п.), знеособлення, блокування та знищення його персональних даних в базі персональних даних «Учасники маркетингових досліджень».
                                li 8.2. Власник бази даних «Учасники маркетингових досліджень» може доручити обробку персональних даних розпоряднику без попереднього повідомлення і без узгодження з Учасником акції. Власник і / або Розпорядник бази даних «Учасники маркетингових досліджень» може передати персональні дані, як в складі бази даних «Учасники маркетингових досліджень», так і окремо від неї, третім особам, в тому числі контрагентам власника та / або розпорядника бази даних як безкоштовно , так і за плату. У разі передачі персональних даних, як в складі бази персональних даних «Учасники маркетингових досліджень», так і окремо від неї, третім особам за плату, учасник Акції не претендуватиме і мати право на будь-яку винагороду або іншого виду компенсації.
                                li 8.3. Учасник Акції погоджується на використання та поширення його коментарів, відповідей на питання, точок зору (в тому числі відеозаписів) будь-яким не забороненим законом способом при здійсненні публічного показу, відтворення та поширення його зображення та відеозаписи з його участю.
                                li 8.4. Учасник Акції усвідомлює і погоджується, що використання його зображення та відеозаписи з його участю, а також створення, публічний показ, відтворення та розповсюдження рекламних, інформаційних матеріалів про проведення промо-акції з його зображенням і відео з його участю є безкоштовним і не передбачає виплати коштів такому учаснику Акції або будь-яким іншим особам. Учасник Акції зобов'язується не заявляти будь-яких претензій або вимог майнового характеру до осіб, що здійснюють публічний показ, відтворення та розповсюдження таких рекламних чи інформаційних матеріалів і відеозаписів. Надання такої згоди, передбаченої умовами цих Правил, також розглядається у розумінні ст.ст. 296, 307, 308 Цивільного Кодексу України.
                                li 8.5. Зазначена згода учасників Акції надано з урахуванням вимог ст.7, ст.8 та ст.11 Закону України «Про захист персональних даних» та діє безстроково та без обмеження території дії.
                                li 8.6. Учасники Акції, як суб'єкти персональних даних, своєю участю підтверджують свою згоду на збір та обробку їх персональних даних Організатором, для забезпечення останнім взятих на себе зобов'язань з метою забезпечення відносин у сфері податкового та бухгалтерського обліку, статистичної звітності, реклами і т.д., відповідно до чинного законодавства України. Учасник Акції шляхом участі в акціях свідчить про обізнаність про включення його персональних даних до бази даних програми лояльності «Учасники маркетингових досліджень», про можливість передачі його персональних даних третім особам. Зміст його прав як суб'єкта персональних даних відповідно до Закону України «Про захист персональних даних» йому відомо і зрозуміло.
                                li 8.7. У разі суперечностей щодо тлумачення положень правил проведення голосування, офіційним вважається тлумачення Адміністрації Організатора, яке є остаточним і обов'язковим для Акції.
                                li 8.8. За реалізацію Акції, у тому числі: за надання необхідної інформації щодо термінів, умов та порядку проведення Акції, функціонування механізму вручення призових Бонусів несе відповідальність Організатор Акції.
                                li 8.9. У випадку виникнення ситуації, що припускає неоднозначне тлумачення Правил, будь-яких спірних питань та / або питань, не врегульованих цими Правилами, остаточне рішення приймається Замовником чи Організатором Акції відповідно до вимог чинного законодавства України. Рішення Організатора є остаточним і оскарженню не підлягає. Результати Акції є остаточними і не підлягають перегляду.
                                li 8.10. Організатор Акції може визнати недійсними будь–яку реєстрацію, а також заборонити подальшу участь в даній Акції будь-якій особі, яка підроблює або отримує вигоду з підробки процесу реєстрації або інших етапів Акції, або ж діє, порушуючи дані Правила Акції, діє деструктивним чином або здійснює дії з наміром докучати, ображати, загрожувати або заподіювати шкоду будь-якій іншій особі, яка може бути пов’язана із даним Акцією.





